html {
    font-size: 100%;
}

body {
    font-family: sans-serif;
    background-color: silver;
   
}

nav ul {
  list-style-type: none; 
  padding: 0;             
  margin: 0;              
}

header {
    background-color: black;
     color: white;
}

footer {
    background-color: black;
    color: white;
    
}